### KDDI Corp. のデータ取得

In [1]:
# SoftBank Stock data from Stooq.com
# reference https://seanmemo.com/234/

from pandas_datareader import data
start = '2023-04-01'
end = '2023-04-18'
# df = data.DataReader('9433.JP', 'stooq', start, end)
df = data.DataReader('^NKX', 'stooq', start, end)

In [2]:
df

                Open      High       Low     Close     Volume
Date
2023-04-18  28567.54  28698.22  28520.76  28658.83  622725700
2023-04-17  28537.99  28599.75  28414.98  28514.78  580060300
2023-04-14  28321.54  28515.51  28282.82  28493.47  728949300
2023-04-13  27952.58  28163.87  27952.01  28156.97  598585200
2023-04-12  27985.93  28121.46  27983.97  28082.70  626839100
2023-04-11  27895.90  28068.39  27854.82  27923.37  648420000
2023-04-10  27658.52  27737.49  27597.18  27633.66  480314800
2023-04-07  27554.37  27591.15  27456.25  27518.31  491041200
2023-04-06  27589.14  27609.86  27427.66  27472.63  732029700
2023-04-05  28111.04  28133.57  27788.77  27813.26  743257400
2023-04-04  28213.93  28287.42  28139.12  28287.42  732692400
2023-04-03  28203.35  28258.91  28120.71  28188.15  750399000